*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background: rgb(29,158,0);
  background: linear-gradient(0deg, rgba(29,158,0,1) 0%, rgba(0,212,255,1) 11%, rgba(193,245,255,1) 61%, rgba(79,227,255,1) 80%, rgba(0,18,135,1) 100%);
}

.container{
  width: fit-content;
  height: fit-content;
  overflow-x: hidden;
}

.tulipstem-a{
  
}

.land{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100px;
  background: rgb(159,255,0);
  background: linear-gradient(180deg, rgba(159,255,0,0.137) 0%, rgba(104,207,0,1) 13%, rgba(29,158,0,1) 52%, rgba(54,45,0,1) 100%);
  background-position: center;
  background-size: cover;
  padding: 0px 1000px 0px 1000px;
}